In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
# from crime_dataset_headers import *
data_url='''https://archive.ics.uci.edu/ml/machine-learning-databases/communities/communities.data'''
crime=pd.read_csv(data_url,header=None,na_values='?')

In [7]:
# crime=pd.read_csv(data_url,header=None,na_values='?')
crime.head()

   0     1        2                    3    4    ...  123  124   125   126   127
0    8   NaN      NaN         Lakewoodcity    1  ...  0.9  0.5  0.32  0.14  0.20
1   53   NaN      NaN          Tukwilacity    1  ...  NaN  NaN  0.00   NaN  0.67
2   24   NaN      NaN         Aberdeentown    1  ...  NaN  NaN  0.00   NaN  0.43
3   34   5.0  81440.0  Willingborotownship    1  ...  NaN  NaN  0.00   NaN  0.12
4   42  95.0   6096.0    Bethlehemtownship    1  ...  NaN  NaN  0.00   NaN  0.03

[5 rows x 128 columns]

In [8]:
fn=['1','4','13','27','33','93','99']
tn=['127']

In [9]:
df1=crime[0]
df2=crime[4]
df3=crime[13]
df4=crime[27]
df5=crime[33]
df6=crime[93]
df7=crime[99]

In [10]:
x=pd.concat([df1,df2,df3,df4,df5,df6,df7],axis=1)
y=crime[127]

In [11]:
x.head()

   0   4     13    27    33    93    99
0   8   1  0.29  0.32  0.19  0.25  0.51
1  53   1  0.35  0.33  0.24  0.18  0.60
2  24   1  0.28  0.27  0.27  0.28  0.67
3  34   1  0.34  0.39  0.10  0.47  0.64
4  42   1  0.23  0.28  0.06  0.21  0.61

In [12]:
y.head()

0    0.20
1    0.67
2    0.43
3    0.12
4    0.03
Name: 127, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=123)

In [14]:
from sklearn.linear_model import LinearRegression
linear_regression_model=LinearRegression()

In [15]:
linear_regression_model.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
from sklearn.metrics import mean_squared_error
y_pred_test=linear_regression_model.predict(xtest)
error_metric=mean_squared_error(y_pred=y_pred_test,y_true=ytest)

print(error_metric)

0.03463473697169104